$color-primary: #fcaf32;
$color-secondary: #fc888e;
$color-black: #000;
$color-white: #fff;
$color-grey: #a0a0a0;
$color-red: #ff3333;

$font-lato: 'Lato', sans-serif;
$font-lobster: 'Lobster', cursive;